
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script>
// sortTable function from https://www.w3schools.com/howto/howto_js_sort_table.asp
function sort(n) {
  var table, rows, s, i, x, y, switchTrue, dir, switchcount = 0;
  table = document.getElementById("sTable");
  s = true;
  dir = "asc"; 
  while (s) {
    s = false;
    rows = table.getElementsByTagName("TR");
    for (i = 1; i < (rows.length - 1); i++) {
      switchTrue = false;
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          switchTrue= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          switchTrue = true;
          break;
        }
      }
    }
    if (switchTrue) {
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      s = true;
      switchcount ++; 
    } else {
  	  if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        s = true;
      }
    }
  }
}
</script>

